*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: #b79f1970;
    background-image: url('../img/logoBH.jpg');
    background-size: contain;
    background-repeat: repeat;
}
.mainCont{
    position: relative;
}
#container{
    width: 90%;
    height: 100%;
    margin: 0px 5%;
    padding-top: 58px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid #fbca54 2px;
    border-radius: 5px;
    background-color: #b79f1970;
}
.item{
    width: 90%;
    height: 100px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 12px 20px;
    border: black 2px solid;
    border-radius: 8px;
    background-color: #b79f1970;
    position: relative;
    overflow: visible;
}
.imgburg{
    /* width: 35%; */
    height: 100%;
    position: relative;
}
.item-title{
    width: 60%;
    height: 30%;
    font-size: 1.3em;
    color: #1a1a1a;
    font-weight: 600;
    text-align: center;
    position: relative;
}
.commands{
    width: 60%;
    height: 10px;
    margin-top: 10px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}
.form{
    display:inline-flex;
}
.extra{
    border: solid #fbc954d6 1px;
    border-radius: 5px;
    font-size: 0.9em;
    font-weight: 300;
    direction: none;
    width:35%;
}
.btnAgregar{
    border: solid #d6ab48df 2px !important;
    background-color: #fbc954d6 !important;
    border-radius: 5px;
    font-size: 0.9em;
    font-weight: 300;
}
.btnAgregarCP{
    border: solid #d6ab48df 2px !important;
    background-color: #fbc954d6 !important;
    border-radius: 5px;
    font-size: 0.9em;
    font-weight: 500;
}
.tot{
    width:100%;
    background-color: rgb(0, 0, 0);
    position: fixed;
    z-index: 1;
    display: flex;
    padding: 0% 5%;
}
#totBtn{
    width:60%;
    height: 40px;
    margin: 5px 0%;
    background-color: #fbc954d6;
    border-radius: 8px;
    font-size: 1.5em;
}
#terminarOrden{
    width:90%;
    height: 40px;
    margin: 5px 0%;
    background-color: #fbc954d4;
    border-radius: 8px;
    font-size: 1.5em;
    margin: 0px 21px;
    /* margin-left: 30px; */
}
.btnTermOrd{
    background-color: #fbc954d4;
}
#offcanvasTop{
    height: 65vh;
}
#verOrds{
    width: 40%;
    height: 40px;
    margin: 5px 0%;
    background-color: #fbc954d6;
    border-radius: 8px;
    font-size: 1em;
}
.totComanda{
    text-align: end;
}
.comanda{
    text-align:  flex-start;
}
#offcanvas-body{
    background-color: #b79f1970;
    font-size: 1em;
    height: auto;
}
.offcanvas-header{
    background-color: #fbc954e6;
    font-weight: bold;
}
#offcanvasTopLabel{
    font-size: 1.5em;
    font-weight: 600;
}
.totDia{
    font-size: 1.8em;
    font-weight: 550;
    text-align:  end;
    margin-right: 5%;
}
.comandasDia{
    padding: 0% 5%;
}
.offcanvas-body-ordenes{
    background-color: #b79f1970;
    font-size: 1em;
    height: auto;
    overflow-y: scroll;
}
.sumParcial{
    margin-left: 65%;
}
.esp{
    width: 100%;
    height: 40px;
}
.btnDelete{
    background-color: #bb623e78;
    padding: 2px 5px;
    border-radius: 10px;
    border: 1px solid #ca3a16;
}